<div class="card-deck">
  <div class="card">
    <div class="card-header">Start Process</div>
    <div class="card-body">
      <form class="card-text" (ngSubmit)="submit()" #processForm="ngForm">
        <div class="form-group">
          <label for="laptopname">Select your Laptop</label>
          <combo-box
          [dataList] = "laptopList"
          [columnName] = "'laptopname'"
        ></combo-box>
        </div>
        <button type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>
</div>
